{% extends "master.html" %}
{% load sniplates %}


{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% url 'index' as index_url %}
    {% widget 'crumbs:crumb' label=_("BInG") url=index_url %}

    {% url 'medewerkers:index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Medewerkers") url=index_url %}
{% endnested %}
{% endblock breadcrumbs %}

{% block page-class %}{% endblock %}


{% block content %}

<div class="page-heading page-heading--fw">

    <!-- START grid wrap -->
    <div class="grid-wrap">
        <h1>
            <span>Beheer Inrichting Gebruik</span>
            {% block subtitle %}{% endblock subtitle %}
        </h1>
    </div>
    <!-- END grid wrap -->
</div>

<div class="{% block bodycopy-class %}bodycopy{% endblock %}">

    <div class="grid-wrap">
        {% block page-content %}
            <div class="toptaken">
                <ul>
                    <li>
                        <a href="{% url 'medewerkers:kalender' %}" class="topTasksButton">
                            <i class="fa fa-calendar fa-2x"></i>
                            <span>Kalender</span>
                        </a>
                    </li>

                    <li>
                        <a href="#TODO"  class="topTasksButton">
                            <i class="fa fa-building-o fa-2x"></i>
                            <span>Projecten</span>
                        </a>
                    </li>

                </ul>
            </div>
        {% endblock page-content %}
    </div>

</div>

{% endblock %}
