{% extends "medewerkers/base.html" %}
{% load sniplates %}

{% block subtitle %}Dashboard{% endblock subtitle %}


{% block page-content %}
    <div class="toptaken">
        <ul>
            {% include "medewerkers/includes/top_task_button.html" with url_name='medewerkers:tasks' icon='tasks' label='Taken' only %}

            {% include "medewerkers/includes/top_task_button.html" with url_name='medewerkers:kalender' icon='calendar' label='Kalender' only %}

            {% include "medewerkers/includes/top_task_button.html" with url_name='medewerkers:projects' icon='building' label='Projecten' only %}

            {% include "medewerkers/includes/top_task_button.html" with url_name='aanmeldformulier:info' icon='plus' label='Project aanmelden' only %}

        </ul>
    </div>
{% endblock page-content %}
