{% extends "medewerkers/base.html" %}
{% load sniplates %}


{% block subtitle %}Kalender{% endblock subtitle %}

{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% widget 'crumbs:crumb' label=_("BInG") url='/' %}

    {% url 'medewerkers:index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Medewerkers") url=index_url %}

    {% url 'medewerkers:kalender' as kalender_url %}
    {% widget 'crumbs:crumb' label=_("Kalender") url=kalender_url %}

{% endnested %}
{% endblock breadcrumbs %}


{% block page-content %}

{{ object_list }}

{% endblock page-content %}
