{% extends "medewerkers/base.html" %}
{% load sniplates %}


{% block subtitle %}Aangemelde projecten{% endblock subtitle %}

{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% widget 'crumbs:crumb' label=_("BInG") url='/' %}

    {% url 'medewerkers:index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Medewerkers") url=index_url %}

    {% url 'medewerkers:projects' as projects_url %}
    {% widget 'crumbs:crumb' label=_("Projecten") url=projects_url %}

{% endnested %}
{% endblock breadcrumbs %}


{% block page-content %}
<ul>
    {% for project in object_list %}
        <li>
            <a href="{% url 'medewerkers:project-update' pk=project.pk %}">
                <strong>{{ project.name }}</strong>
            </a>
            ({{ project.created|timesince }} geleden)
            <br>
            Ingepland: {% if project.meeting and project.meeting.zaak %}{{ project.meeting.start|date }}{% else %}-{% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock page-content %}
