{% extends "medewerkers/base.html" %}
{% load sniplates i18n %}

{% block subtitle %}Project: {{ object.name }} ({{ object.project_id }}){% endblock subtitle %}

{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% widget 'crumbs:crumb' label=_("BInG") url='/' %}

    {% url 'medewerkers:index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Medewerkers") url=index_url %}

    {% url 'medewerkers:kalender' as kalender_url %}
    {% widget 'crumbs:crumb' label=_("Kalender") url=kalender_url %}

    {% if project.meeting %}
        {% url 'medewerkers:meeting-detail' pk=project.meeting.pk as meeting_url %}
        {% with project.meeting.start|date as meeting_date %}
            {% widget 'crumbs:crumb' label=_("Vergadering")|add:" "|add:meeting_date url=meeting_url %}
        {% endwith %}
    {% endif %}

{% endnested %}
{% endblock breadcrumbs %}

{% block body-class %}project-detail{% endblock %}
{% block bodycopy-class %}{% endblock %}

{% block page-content %}
{% load_widgets key_value='snippets/key-value.html' %}

<section class="project">

    <div class="project__details">
        <table>
            <tbody>
                {% widget 'key_value:label-value' label=_("Project ID") value=project.project_id %}
                {% widget 'key_value:label-value' label=_("Toetswijze") value=project.get_toetswijze_display %}
                {% widget 'key_value:label-value' label=_("Planfase") value=project.get_planfase_display %}
                {% widget 'key_value:label-value' label=_("Aangemeld") value=project.created|timesince|add:" geleden" %}
            </tbody>
        </table>

        <section class="project-documents">
            <h2>Documenten</h2>

            {% regroup documents by document_type as document_list %}
            {% for document_type, docs in document_list %}
                <h3 class="project-documents__document-type">{{ document_type }}</h3>

                <section class="documents-container">
                    {% for doc in docs %}
                        <article class="document">
                            <i class="document__icon document__icon--{{ doc.informatieobject.formaat|default:'unknown' }}"></i>

                            <h4 class="document__title" title="{{ doc.informatieobject.titel }}">
                                {{ doc.informatieobject.titel }}
                            </h4>

                            <div>
                                <span class="document__filesize">
                                    <i class="fa fa-file-o"></i>
                                    {{ doc.informatieobject.bestandsomvang|filesizeformat }}
                                </span>

                                <span class="document__va">
                                    <i class="fa fa-user-times"></i>
                                    {{ doc.informatieobject.vertrouwelijkheidaanduiding }}
                                </span>

                                <a href="{% url 'medewerkers:attachment-download' pk=doc.attachment.pk %}" class="document__download">
                                    <button>{% trans "Download" %}</button>
                                </a>
                            </div>

                        </article>
                    {% endfor %}
                </section>
            {% endfor %}
        </section>
    </div>

    <div class="project__edit-controls">

        <form action="." method="post">
            {% csrf_token %}
            {% load_widgets form='snippets/forms.html' %}

            {% form_field form.status %}
            {% form_field form.resultaat %}

            <br>
            {% widget 'form:required-fields' %}

            <div class="navigation_buttons">
                {% widget 'form:submit' text=_("Bijwerken") %}
            </div>
        </form>

        <hr>

    </div>

</section>

{% endblock page-content %}
