{% extends "medewerkers/base.html" %}
{% load sniplates i18n %}

{% block subtitle %}Project: {{ object.name }} ({{ object.project_id }}){% endblock subtitle %}

{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% widget 'crumbs:crumb' label=_("BInG") url='/' %}

    {% url 'medewerkers:index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Medewerkers") url=index_url %}

    {% url 'medewerkers:kalender' as kalender_url %}
    {% widget 'crumbs:crumb' label=_("Kalender") url=kalender_url %}

    {% if project.meeting %}
        {% url 'medewerkers:meeting-detail' pk=project.meeting.pk as meeting_url %}
        {% with project.meeting.start|date as meeting_date %}
            {% widget 'crumbs:crumb' label=_("Vergadering")|add:" "|add:meeting_date url=meeting_url %}
        {% endwith %}
    {% endif %}

{% endnested %}
{% endblock breadcrumbs %}

{% block body-class %}project-detail{% endblock %}
{% block bodycopy-class %}{% endblock %}

{% block page-content %}
{% load_widgets key_value='snippets/key-value.html' %}

<section>
    <h2>Besluiten</h2>

    <ul>
        {% for besluit in besluiten %}
            <li>
                {{ besluit.datum }} - Ingangsdatum {{ besluit.ingangsdatum }} ({{ besluit.besluittype }})
            </li>
        {% endfor %}
    </ul>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% load_widgets form='snippets/forms.html' %}
        <fieldset class="fieldset">
            {% form_field form.besluittype %}
            {% form_field form.start_date %}
            {% form_field form.end_date %}
            {% form_field form.final_reaction_date %}
            {% form_field form.attachment 'form:FileInput' %}

            {% widget 'form:required-fields' %}
        </fieldset>

        <div class="navigation_buttons">
            {% widget 'form:submit' text=_("Toevoegen") %}
        </div>
    </form>

</section>

{% endblock page-content %}
