{% extends "medewerkers/base.html" %}
{% load sniplates %}


{% block subtitle %}Taken{% endblock subtitle %}

{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% widget 'crumbs:crumb' label=_("BInG") url='/' %}

    {% url 'medewerkers:index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Medewerkers") url=index_url %}

    {% url 'medewerkers:tasks' as tasks_url %}
    {% widget 'crumbs:crumb' label=_("Taken") url=tasks_url %}

{% endnested %}
{% endblock breadcrumbs %}


{% block page-content %}
<div>
    <h2>Taken</h2>

    <p>
        Hier vind je de projectaanvragen die door een medewerker behandeld
        moeten worden.
    </p>

    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock page-content %}
