{% extends "medewerkers/base.html" %}
{% load sniplates %}


{% block subtitle %}Taken{% endblock subtitle %}

{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% widget 'crumbs:crumb' label=_("BInG") url='/' %}

    {% url 'medewerkers:index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Medewerkers") url=index_url %}

    {% url 'medewerkers:tasks' as tasks_url %}
    {% widget 'crumbs:crumb' label=_("Taken") url=tasks_url %}

{% endnested %}
{% endblock breadcrumbs %}


{% block page-content %}
<div>
    <p>
        Hier vind je de projectaanvragen die door een medewerker behandeld
        moeten worden.
    </p>

    <ul>
        {% for project, task in tasks %}
            <li>
                {% if project %}
                    <a href="{% url 'medewerkers:project-detail' pk=project.pk %}">{{ project.name }}</a>
                    <br>
                    <br>
                    {# TODO: generic task routing #}
                    <a href="{% url 'medewerkers:task-determine-procedure' pk=project.pk task_id=task.id %}">
                        <button>
                            {{ task.name }}
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </a>
                {% else %}
                    <span>&lt;project onbekend&gt;: {{ task.name }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock page-content %}
