{% extends "master.html" %}
{% load sniplates aanmeldformulier %}


{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% url 'index' as index_url %}
    {% widget 'crumbs:crumb' label=_("BInG") url=index_url %}

    {% url 'aanmeldformulier:info' as info_url %}
    {% widget 'crumbs:crumb' label=_("Aanmelden") url=info_url %}
{% endnested %}
{% endblock breadcrumbs %}

{% block page-class %}{% endblock %}


{% block content %}

<div class="page-heading">

    <!-- START grid wrap -->
    <div class="grid-wrap">
        <h1>
            <span>Beheer Inrichting Gebruik</span>
            Project Aanmelden
        </h1>
    </div>
    <!-- END grid wrap -->
</div>

<div class="bodycopy">

    <div class="grid-wrap">
        <div>
            {% block progress-bar %}
                {% form_steps current_step=view.current_step project=project|default:None %}
            {% endblock progress-bar %}

            {% block page-content %}
            {% endblock page-content %}
        </div>
    </div>

</div>

{% endblock %}
