{% extends "master.html" %}
{% load sniplates %}


{% block breadcrumbs %}
{% load_widgets crumbs='snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% widget 'crumbs:crumb' label=_("BInG") url='/' %}

    {% url 'aanmeldformulier:info' as info_url %}
    {% widget 'crumbs:crumb' label=_("Aanmelden") url=info_url %}
{% endnested %}
{% endblock breadcrumbs %}

{% block page-class %}{% endblock %}


{% block content %}

<div class="page-heading">

    <!-- START grid wrap -->
    <div class="grid-wrap">
        <h1>
            <span>Beheer Inrichting Gebruik</span>
            Project Aanmelden
        </h1>
    </div>
    <!-- END grid wrap -->
</div>

<div class="bodycopy">

    <div class="grid-wrap">
        {% block page-content %}
        {% endblock page-content %}
    </div>

</div>

{% endblock %}
