{% extends "aanmeldformulier/base.html" %}
{% load sniplates %}

{% block page-content %}

<div>
    <h1>Stappen</h1>
    <p class="intro">
        De staat, functionaliteit, aanblik en beleving van de openbare ruimte
        in Utrecht bepalen sterk de leefomgeving van mensen die er wonen,
        werken of Utrecht bezoeken. De gemeente Utrecht wil daarom de samenhang
        in het gebruik, de veiligheid en het onderhoud van alle grote en kleine
        veranderingen in de openbare ruimte zo veel mogelijk versterken.
        Om dit te borgen is de zogenaamde BInG-toets (Beheer Inrichting Gebruik)
        openbare ruimte in het leven geroepen. De BInG-toets is een integrale
        toets voor alle veranderingen die in de openbare ruimte van Utrecht
        plaatsvinden. Naast het toetsen op beheer wordt er ook getoetst op
        inrichting en gebruik.
    </p>
</div>

<ol>
    <li>Projectinformatie invullen</li>
    <li>Toetswijze invullen</li>
    <li>Planfase invullen</li>
    <li>Documenten toevoegen</li>
    <li>Vergaderdatum kiezen</li>
    <li>Contactinformatie invullen</li>
    <li>Opmerkingen en indienden</li>
</ol>

<div>
    <div class="divider">
        <hr>
    </div>
</div>

<div>
    <h2>Benodigde tijd</h2>
    <p> Het invullen van dit formulier duurt ongeveer 15 minuten. </p>
</div>

<div>
    <h2>Aanleveren documenten</h2>
</div>

<div class="alert">
    <div class="alert-wrap">
        <h2 class="upper">Let op!</h2>
        <p>U moet documenten toevoegen bij het invullen van dit formulier.</p>
        <p class="los"><a href="#">Lees meer</a></p>
    </div>
</div>

<div>
    <p>
        <a href="{% url 'aanmeldformulier:specify-project' %}" class="cta">Start</a>
    </p>
</div>

{% endblock %}
