{% extends "aanmeldformulier/base.html" %}
{% load sniplates %}

{% block page-content %}

<div>

    <h1>Stappen</h1>

    <p class="intro">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

</div>

<ol>
    <li>Projectinformatie invullen</li>
    <li>Toetswijze invullen</li>
    <li>Planfase invullen</li>
    <li>Documenten toevoegen</li>
    <li>Vergaderdatum kiezen</li>
    <li>Contactinformatie invullen</li>
    <li>Opmerkingen en indienden</li>
</ol>

<div>
    <div class="divider">
        <hr>
    </div>
</div>

<div>
    <h2>Benodigde tijd</h2>
    <p> Het invullen van dit formulier duurt ongeveer 15 minuten. </p>
</div>

<div>
    <h2>Aanleveren documenten</h2>
</div>

<div class="alert">
    <div class="alert-wrap">
        <h2 class="upper">Let op!</h2>
        <p>U moet documenten toevoegen bij het invullen van dit formulier.</p>
        <p class="los"><a href="#">Lees meer</a></p>
    </div>
</div>

<div>
    <p>
        <a href="{% url 'aanmeldformulier:specify-project' %}" class="cta">Start</a>
    </p>
</div>

{% endblock %}
