{% extends "aanmeldformulier/base.html" %}
{% load sniplates aanmeldformulier %}

{% block page-content %}

    <h2>Om welk project gaat het?</h2>

    <form action="." method="post">
        {% csrf_token %}

        {% load_widgets form='snippets/forms.html' %}

        <fieldset class="fieldset">
            {% form_field form.project_id %}
            {% form_field form.name %}

            {% widget 'form:required-fields' %}
        </fieldset>

        <div class="navigation_buttons">
            {% widget 'form:submit' text=_("Doorgaan") %}
        </div>

    </form>

{% endblock %}
