{% extends "aanmeldformulier/base.html" %}
{% load sniplates %}

{% block page-content %}

<div>

    {% load_widgets steps='snippets/form-steps.html' %}
    {% nested_widget 'steps:container' amount=5 %}
        {% widget 'steps:inactive' label=_("Projectinfo") %}
        {% widget 'steps:inactive' label=_("Toetswijze") %}
        {% widget 'steps:inactive' label=_("Planfase") %}
        {% widget 'steps:step' label=_("Upload") step_nr=4 %}
        {% widget 'steps:total' label=_("Vergadering") amount=5 %}
    {% endnested %}

    <section>
        <h2>Bestaande bijlagen</h2>
        <ul>
            {% for attachment in attachments %}
                <li>
                    <strong>{{ attachment.document_type }}</strong>
                    &gt; <em>{{ attachment.informatieobject.titel }}</em>
                    <small>({{ attachment.informatieobject.bestandsomvang|filesizeformat }})</small>
                </li>
            {% endfor %}
        </ul>
    </section>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% load_widgets form='snippets/forms.html' %}

        <fieldset class="fieldset">
            {% form_field form.io_type %}
            {% form_field form.attachment %}

            {% widget 'form:required-fields' %}
        </fieldset>

        <div class="navigation_buttons">
            {% widget 'form:submit' text=_("Doorgaan") %}
        </div>

    </form>
</div>

{% endblock %}
