{% extends "aanmeldformulier/base.html" %}
{% load sniplates %}

{% block page-content %}

    <section>
        <h2>Bestaande bijlagen</h2>
        <ul>
            {% for attachment in attachments %}
                <li>
                    <strong>{{ attachment.document_type }}</strong>
                    &gt; <em>{{ attachment.informatieobject.titel }}</em>
                    <small>({{ attachment.informatieobject.bestandsomvang|filesizeformat }})</small>
                </li>
            {% endfor %}
        </ul>
    </section>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ formset.management_form }}

        {% load_widgets form='snippets/forms.html' %}

        {% for form in formset %}
            <fieldset class="fieldset">
                {% form_field form.io_type %}
                {% form_field form.attachment %}

                {% widget 'form:required-fields' %}
            </fieldset>
        {% endfor %}

        <div class="navigation_buttons">
            {% widget 'form:submit' text=_("Doorgaan") %}
        </div>

    </form>

{% endblock %}
